# Ignore Python bytecode files
*.pyc

# Ignore macOS system files
.DS_Store

# Ignore virtual environment directories
venv/

# Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll

#Ignore prover9 bin
prover9/bin/LADR-2009-11A
